.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title{
        width: 100%;
        min-height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c2185b;
        color: white;

        h1{
            margin: 0;
        }
    }

    .mock-generator{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 16px;

        .button-row{
            display: flex;
            gap: 8px;

            button{
                width: 64px;
                height: 64px;
                text-align: center;

                border-radius: 50%;
            }
        }
    }

    .filter{
        width: 600px;

        .form-field{
            width: 100%;
        }
    }

    .priority-container{
        margin-bottom: 16px;
    }

    .cards-container{
        width: 600px;
        padding-inline: 24px;
        overflow-y: scroll;

        mat-card{
            &:not(:last-child){
                margin-bottom: 2px;
            }
        
            mat-card-content{
                color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .info{
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    .delete{
                        mat-icon{
                            &:hover{
                                color: #c2185b;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10000px
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
    }
}
